.HeaderRoom {
    background-color: var(--background-header);
    position: fixed;
    width: 70%;
}

.HeaderRoom ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.HeaderRoom ul li{
    padding: 1%;
    cursor: pointer;
    border-right: 1px solid var(--background-comment) ;
}
.HeaderRoom ul li:last-child{
    border-right: 0 ;
}