.createPostMain {
    position: fixed;
    background-color: var(--background-color);
    width: 20%;
    height: 85vh;
    padding: 10px;
    perspective: 400px;
}

.formCreatePost {
    margin-top: 10%;
    background-color: var(--background);
    border-radius: 3%;
}

.headerCreateFormPost>h2 {
    margin: auto;
    padding: 10px 0;
    width: 90%;
    text-align: center;
    border-bottom: 1px solid var(--background-color);
}

.headerCreateFormPostUser {
    padding: 10px 0 10px 10px;
    display: flex;
}

.headerCreateFormPostUserAvarta {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.headerCreateFormPostUserAvarta img {
    width: 100%;
    height: 100%;

}

.headerCreateFormPostUser_ p {
    margin: 0;
}

.createContentPost textarea {
    background-color: var(--background-color);
    width: 90%;
    height: 50px;
    margin-left: 3%;
    border: none;
    outline: none;
}

.Private_ {
    font-size: 12px;
    color: var(--color);
    background-color: var(--background-color);
    border: none;
    outline: none;
}

.createImgPost input {
    display: none;
}

.createImgPost label {
    margin: 3%;
    padding: 2px;
    background-color: var(--background-color);
}

.createBTPost {
    text-align: center;
}

.createBTPost button {
    cursor: pointer;
}