.formCreatePost {
    display: flex;
    background-color: var(--background-color);
    border-radius: 20px;
    overflow-x: clip;
    margin: 5px 0;
    padding: 20px;
    padding-bottom: 10px;
}

.createPostAvatar {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.createPostAvatar img {
    width: 100%;
    height: 100%;
}

.createContentPost {
    width: 90%;
}

.createContentPost>input {
    outline: none;
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.createImgPost input {
    display: none;
}

.importFilePost {
    display: flex;
    justify-content: space-around;
}

.importFilePost div label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.if-button {
    padding: 7px 20px;
    background-color: var(--button);
    cursor: pointer;
}

.dataFile img{
    width: 100%;
}
.previewImg {
    position: relative;
}
.previewImg>svg {
    font-size: 1.7rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
}
