.h2 {
    font-size: 30px;
    text-align: center;
}

.from {
    margin: 0 8%;
}

.label {
    display: flex;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(136, 139, 139);
    margin: 30px 0 0 0;
    height: 30px;
}

.label label {
    font-size: 150%;
}

.label input {
    flex: 1;
    border: none;
    outline: none;
    width: 85%;
    height: 100%;
    padding-left: 10px;
    background: none;
    font-size: 18px;
}

.label input:focus {
    background: rgba(255, 255, 255, 0.2);
}

.label input::placeholder {
    color: rgb(75, 74, 74);
}

.bt_signin {
    height: 40px;
    width: 100px;
    background: rgb(230, 224, 224);
    border: 1px solid rgb(139, 139, 136);
    border-radius: 5%;
    font-weight: 550;
    margin-left: 35%;
    margin-top: 7%;

    cursor: pointer;
}

.br_signin {
    font-size: 20px;
    position: relative;
    text-align: center;
}

.br_signin div::after {
    content: "";
    width: 44%;
    height: 2px;
    background: rgb(139, 139, 136);
    position: absolute;
    bottom: 40%;
    left: 0;
}

.br_signin div::before {
    content: "";
    width: 44%;
    height: 2px;
    background: rgb(139, 139, 136);
    position: absolute;
    bottom: 40%;
    right: 0;
}

.forgotPass {
    font-size: 13px;
    display: flex;
    justify-content: end;
}

.forgotPass a {
    margin-top: 15px;
    margin-bottom: 3px;
}

.badFormHiden {
    display: none;
}

.badForm {
    display: block;
    color: red;
    text-align: center;
    margin: 3px 0 0 0;
}