.home {
    display: flex;
    justify-content: space-around;
}

.headerEvent {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.HomePost {
    width: 50%;
    max-height: 100vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.HomePost::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.sidebarHome {
    width: 22%;
    max-height: 100vh;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidebarHome::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.RightSides {
    width: 25%;
}