.RoomManager {
    display: flex;
    justify-content: space-around;
}

.noneRoom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.RoomContent {
    width: 70%;
    height: 100vh;
    background-color: var(--background-color);
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.RoomContent::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.rm-rs {
    position: absolute;
    width: 25%;
}

.sidebarRoom {
    margin-top: 5rem;
}