.RoomManager {
    padding: 3vh 0 3vh 0;
    height: 81vh;
    display: flex;
    justify-content: space-evenly;
}

.SidebarRoom {
    width: 20%;
    background-color: var(--background-color);
}

.RoomContent {
    width: 70%;
    background-color: var(--background-color);
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.RoomContent::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}