.CommentPost {
    padding-top: 1%;
    border-top: 1px solid rgb(168, 164, 164);
}

.CommentPost form label {
    font-size: 18px;
    font-weight: 500;
    padding-right: 30px;
}

.CommentPost form input {
    padding: 0 10px;
    font-size: 16px;
    width: 65%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.CommentUser {
    padding: 3% 2% 0 2%;
    display: flex;
}

.CommentUserAvatar {
    overflow: hidden;
    border-radius: 50%;
    min-width: 35px;
    height: 35px;
}

.CommentUserAvatar img {
    width: 100%;
    height: 100%;
}

.CommentUserContent {
    background-color: var(--background-comment);
    border-radius: 15px;
    padding: 1% 2%;
    margin-left: 2%;
}

.CommentUserContent p {
    margin: 0;
}

.CommentUserContentPhone {
    font-weight: 500;
}

.dayComment {
    margin: 0;
    font-size: 12px;
    padding-left: 10%;
}