.mainRoom {
    padding-top: 4%;
}

.Users,
.Room {
    margin: 1%;
    border: 1px solid white;
}

.Room>p,
.Users>p {
    background-color: var(--background-header);
    margin: 0;
    padding: 1%;
    padding-left: 5%;
    font-size: 18px;
    font-weight: 600;
}

.RoomInfor {
    display: flex;
    justify-content: space-around;
}

.RoomInfor>div {
    width: 35%;
}

.listInforRoom {
    margin: 5% 0;
}

.listInforRoom span {
    padding-left: 2%;
    float: right;
    width: 68%;
    height: 100%;
    border-radius: 5px;
    color: var(--color);
    background-color: var(--background);
    line-height: 200%;
}

.listInforRoom label {
    line-height: 200%;
}

.Users>ul {
    margin: 2% 3%;
    padding: 1% 0;
    display: flex;
    justify-content: space-around;
    background-color: var(--background);
}

.Users>ul li {
    width: 17%;
    text-align: center;
}

.Users>.listUser {
    margin: 1% 3%;
}