.user {
    display: flex;
}

.avatarUser {
    overflow: hidden;
    background-color: white;
    border: 1px solid white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.avatarUser img {
    width: 100%;
    height: 100%;
}
.user ul {
    margin: 0;
    margin-left: 3%;
    width: 60%;
}

.user ul li {
    padding-bottom: 5%;
}