.changeUser {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
.mainChangeInfor {
    display: flex;
}

.ChangeInforMain {
    margin-left: 0.5rem;
}

.ChangeInfor {
    display: grid;
}

.ChangeInfor label {
    font-size: 18px;
}

.ChangeInfor input {
    width: 130%;
    outline: none;
    padding: 0.1rem;
    font-size: 18px;
}

.ChangeInforRadio {
    font-size: 18px;
    padding: 8px 1%;
}

.ChangeInforBt {
    margin-top: 1rem;
    font-size: 16px;
    padding: 0.5rem 1rem
}

.changeAvatar {
    overflow: hidden;
    background-color: white;
    border: 1px solid white;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
}
.changeAvatar input{
    display: none;
}
.changeAvatar img{
    width: 100%;
    height: 100%;
}

.ChangePassword {
    width: 30%;
}