.mainChangeInfor {
    display: flex;
}

.ChangeInforMain {
    margin-left: 3%;
}

.ChangeInfor {
    padding: 1%;
    display: grid;
}

.ChangeInfor label {
    font-size: 18px;
}

.ChangeInfor input {
    padding: 5px 1%;
    font-size: 18px;
}

.ChangeInforRadio {
    font-size: 18px;
    padding: 8px 1%;
}

.ChangeInforBt {
    margin-left: 1%;
    font-size: 16px;
    padding: 5px 25px;
}