.Dashboard {
    display: flex;
    justify-content: space-around;
}

.DashboardContent {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 70%;
    background-color: var(--background-color);
}

.db-RightSide {
    width: 25%;
}