.Dashboard {
    display: flex;
    justify-content: center;
    padding: 5vh;
    height: 77vh;
}

.SidebarDashboard {
    padding: 2% 0 2% 0;
    width: 18%;
    background-color: var(--background-color);
}

.DashboardContent {
    padding: 2%;
    width: 65%;
    min-height: 65vh;
    background-color: var(--background-color);
}