.createRoom {
    display: grid;
    padding: 1%;
}

.createRoom label {
    font-size: 18px;
}

.createRoom input {
    padding: 5px 1%;
    width: 100%;
    font-size: 18px;
}

.createRoomRadio {
    font-size: 18px;
    padding: 8px 1%;
}

.createRoomBt {
    margin-left: 1%;
    font-size: 16px;
    padding: 5px 25px;
}