.header {
    width: 100%;
    background-color: var(--background-color);
    height: 13vh;
}

.logoHeader {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.setting ul,
.Information ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.Information>ul>li {
    margin: 4vh 10px 0 0;
    font-weight: 500;
    cursor: pointer;
    /* transition: 2s; */
}
.Information>ul>li:hover {
    border-bottom: 2px solid var(--color);
}
.setting ul li {
    border: 1px solid var(--color);
    cursor: pointer;
}

.setting ul .settingNoti {
    margin: 2.5vh 20px 0 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    border-radius: 50%;
}

.settingSwitch {
    margin: 3.3vh 20px 0 0;
    width: 65px;
    height: 30px;
    font-size: 22px;
    border-radius: 30px;
    position: relative;
}

.settingLogOut {
    padding: 0 5px;
    line-height: 30px;
    margin: 3.3vh 20px 0 0;
    font-weight: 500;
    border-radius: 10px;
}

.settingSwitch .right {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgb(97, 95, 95);
}

.settingSwitch .left {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgb(255, 251, 251);
}