.AdminRoom>ul {
    padding: 0;
}

.listRoom {
    display: flex;
    margin: 20px 3px;
}

.listRoom li {
    cursor: pointer;
    width: 100%;
    padding: 5px 3px;
    font-size: 18px;
    background-color: var(--background);
}